<style>
  th, 
  td {
    border-left: none; /* Sin bordes laterales */
    border-right: none; /* Sin bordes laterales */
  }
</style>

<div id="responses" role="alert"></div>

<div id="djc-card" class="card p-4 mb-4 shadow-sm">
  <h3 class="card-title mb-4">Crear Nueva Declaración</h3>

  <div class="form-group">
    <label class="mr-2">Selecciona la Compañía</label>
    <div id="loading-message" class="text-muted mb-2">Cargando compañías...</div>
    <select class="form-control" id="company" style=""></select>
  </div>
  <hr>
  <div id="djc_fields" style="display: none;">
    <div class="container">
      <%# QR %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Selecciona el QR</label>
        </div>
        <div class="col-md-8">
          <div id="loading-message-qr" class="text-muted mb-2">Cargando QRs...</div>
          <select class="form-control" id="qr" style=""></select>
        </div>
      </div>
      <%# Razón Social %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Razón social</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="bussiness_name">
        </div>
      </div>
      <%# Marca Registrada %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Marca registrada</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="trade_mark">
        </div>
      </div>
      <%# Dirección Legal %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Dirección Legal</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="legal_address">
        </div>
      </div> 
      <%# Dirección del Depósito %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Dirección del Depósito</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="deposit_address">
        </div> 
      </div>
      <%# Descripción del Producto %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Descripción del Producto</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="product_description">
        </div>
      </div>
      <%# Fabricante %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Fabricante</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="manufacturer">
        </div> 
      </div>
      <%# Dirección del Fabricante %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Dirección del Fabricante</label>
        </div>
        <div class="col-md-8">
          <input class="form-control" type="text" id="manufacturer_address">
        </div>
      </div>
      <%# Reglamento Técnico %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Selecciona el Reglamento técnico</label>
        </div>
        <div class="col-md-8">
          <select class="form-control" id="reglamento_tecnico">
            <option value="">Seleccione un reglamento técnico</option>
            <% ReglamentoTecnico.all.each do |r| %>
              <option value="<%= r.id %>"><%= r.nombre %></option>
            <% end %>
          </select>
        </div>
      </div>
      <%# Tipo de procedimiento %>
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Selecciona el Tipo de procedimiento</label>
        </div>
        <div class="col-md-8">
          <select class="form-control" id="tipo_procedimiento">
            <option value="">Seleccione un tipo de procedimiento</option>
            <% TipoProcedimiento.all.each do |r| %>
              <option value="<%= r.id %>"><%= r.nombre %></option>
            <% end %>
          </select>
      </div>
    </div>

    <%# Tabla con los datos de marca, modelo, características técnicas %>
    <div class="container mt-4">
      <table id="product_attributes" class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th colspan="2">Características Técnicas</th>
          </tr>
          <tr>
            <th><input class="form-control" id="marca" type="text"></th>
            <th><input class="form-control" id="modelo" type="text"></th>
            <th><input class="form-control" id="caracteristica" type="text"></th>
            <th class="d-flex justify-content-end">
              <button type="button" class="btn btn-success" onclick="addProductAttributes()">
                <i class="bi bi-plus-circle"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <%# Normas Técnicas %>
    <div class="container mt-4">
      <table id="normas_tecnicas" class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th class="text-center align-middle">Norma Técnica</th>
            <th class="align-middle">
              <input class="form-control" id="norma_tecnica" type="text" />
            </th>
            <th class="d-flex justify-content-end">
              <button type="button" class="btn btn-success d-block ms-auto" onclick="addNormaTecnica()">
                <i class="bi bi-plus-circle"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <%# Reportes %>
    <div class="container mt-4">
      <table id="reports" class="table table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th class="text-center align-middle">Número de Reporte</th>
            <th colspan="2" class="text-center align-middle">Emisor</th>
          </tr>            
          <tr> 
            <th class="align-middle">
              <input class="form-control" id="report_number" type="text" />
            </th>
            <th class="align-middle">
              <input class="form-control" id="report_emiter" type="text" />
            </th>
            <th class="d-flex justify-content-end">
              <button type="button" class="btn btn-success d-block ms-auto" onclick="addReporte()">
                <i class="bi bi-plus-circle"></i>
              </button>
            </th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="form-group text-left">
      <button type="button" class="btn btn-success d-block ms-auto" onclick="enviar()">
        Crear Declaración
      </button>
    </div>
  </div>
</div>

<%= link_to 'Volver', djcs_path, class: 'btn btn-secondary' %>

<script>
$(document).ready(function() {
  // Mostrar el mensaje de "Cargando compañías..." al inicio
  $('#loading-message').show();
  $('#company').hide();
  $('#qr').hide();

  $('#company').change(function() {
    $('#company option[value=""]').remove();
    if ($(this).val()) {
      $('#djc_fields').show(); // Muestra los campos
      $('#loading-message-qr').show();
      $('#qr').empty().hide();
      loadQRs()
    } 
  });
  $('#qr').change(function() {
    $('#qr option[value=""]').remove();
  });
   $('#tipo_procedimiento').change(function() {
    $('#tipo_procedimiento option[value=""]').remove();
  });
   $('#reglamento_tecnico').change(function() {
    $('#reglamento_tecnico option[value=""]').remove();
  });

  // Hacer la solicitud fetch a la API para obtener las compañías
  fetch("<%= api_v1_companies_url %>")
    .then(response => response.json()) // Convertir la respuesta a JSON
    .then(data => {
      // Escondemos el mensaje de carga cuando los datos estén listos
      $('#loading-message').remove();
      
      // Obtenemos el select de compañías
      var companySelect = $('#company');
      
      // Vaciar el select antes de llenarlo
      companySelect.empty();
      
      // Agregar la opción por defecto "Seleccione una compañía"
      companySelect.append('<option value="">Seleccione una compañía</option>');

      // Iterar sobre la lista de compañías y agregar cada una como opción
      $.each(data.data, (index, company) => {
        companySelect.append('<option value="' + company.id + '">' + company.name + '</option>');
      });
      $('#company').show();
    })
    .catch(error => {
      console.error('Error al cargar las compañías:', error);
      $('#loading-message').text('Hubo un error al cargar las compañías');
    });
});

function loadQRs() {
  url = "<%= qrs_api_v1_company_url(id: "__ID__") %>"
  fetch(url.replace('__ID__', $('#company').val()))
  .then(response => response.json()) // Convertir la respuesta a JSON
  .then(data => {
    // Escondemos el mensaje de carga cuando los datos estén listos
    $('#loading-message-qr').hide();
    
    var qrSelect = $('#qr');
    qrSelect.append('<option value="">Seleccione un QR</option>');
    $.each(data.data, (index, qr) => {
      qrSelect.append('<option value="' + qr.id + '">' + qr.alias + '</option>');
    });
    $('#qr').show();
  })
  .catch(error => {
    console.error('Error al cargar los QRs:', error);
    $('#loading-message-qr').text('Hubo un error al cargar los QRs');
  });
}
function addProductAttributes() {
  // Obtener los valores de los campos de texto
  const marca = $("#marca").val();
  const modelo = $("#modelo").val();
  const caracteristica = $("#caracteristica").val();

  // Crear una nueva fila con los valores
  const id = `product-attribute-${$('#product_attributes tbody tr').length}`
  const newRow = `
    <tr id="${id}">
      <td class="align-middle">${marca}</td>
      <td class="align-middle">${modelo}</td>
      <td class="align-middle">${caracteristica}</td>
      <td class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" onclick="delTableRow('${id}')">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  `;
  
  // Agregar la fila al cuerpo de la tabla
  $("#product_attributes tbody").append(newRow);

  // Limpiar los campos del formulario
  $("#marca").val("");
  $("#modelo").val("");
  $("#caracteristica").val("");
}
function addNormaTecnica() {
  // Obtener los valores de los campos de texto
  const norma = $("#norma_tecnica").val();
  
  // Crear una nueva fila con los valores
  const id = `norma_tecnica-${$('#normas_tecnicas tbody tr').length}`
  const newRow = `
    <tr id="${id}">
      <td colspan="2" class="align-middle">${norma}</td>
      <td class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" onclick="delTableRow('${id}')">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  `;
  // Agregar la fila al cuerpo de la tabla
  $("#normas_tecnicas tbody").append(newRow);

  // Limpiar los campos del formulario
  $("#norma_tecnica").val("");
}
function addReporte() {
  // Obtener los valores de los campos de texto
  const report_number = $("#report_number").val();
  const report_emiter = $("#report_emiter").val();
  
  // Crear una nueva fila con los valores
  const id = `report-${$('#reports tbody tr').length}`
  const newRow = `
    <tr id="${id}">
      <td class="align-middle">${report_number}</td>
      <td class="align-middle">${report_emiter}</td>
      <td class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" onclick="delTableRow('${id}')">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  `;
  // Agregar la fila al cuerpo de la tabla
  $("#reports tbody").append(newRow);

  // Limpiar los campos del formulario
  $("#report_number").val("");
  $("#report_emiter").val("");
}

function delTableRow(id) {
  $(`#${id}`).remove();
}

function getProductAttributes() {
  const productAttributes = [];
  
  // Iterar sobre cada fila en el footer
  $("#product_attributes tbody tr").each(function () {
    // Crear un objeto con los valores
    const atributo = {
      brand: $(this).find("td:nth-child(1)").text().trim(),
      model: $(this).find("td:nth-child(2)").text().trim(),
      characteristic: $(this).find("td:nth-child(3)").text().trim()
    };
    // Agregar el objeto al array
    productAttributes.push(atributo);
  });

  return productAttributes;
}
function getTechnicalNormatives() {
  const technicalNormatives = [];
  
  // Iterar sobre cada fila en el footer
  $("#normas_tecnicas tbody tr").each(function () {
    // Agregar el objeto al array
    technicalNormatives.push($(this).find("td:nth-child(1)").text().trim());
  });

  return technicalNormatives;
}
function getReports() {
  const reports = [];
  
  // Iterar sobre cada fila en el footer
  $("#reports tbody tr").each(function () {
    // Crear un objeto con los valores
    const atributo = {
      number: $(this).find("td:nth-child(1)").text().trim(),
      emitter: $(this).find("td:nth-child(2)").text().trim()
    };
    // Agregar el objeto al array
    reports.push(atributo);
  });

  return reports;
}
async function enviar(data) {
  try {
    var objetoDatos = {
      company_id: $("#company").val(),
      qr_id: $("#qr").val(),
      trade_mark: $("#trade_mark").val(),
      legal_address: $("#legal_address").val(),
      deposit_address: $("#deposit_address").val(),
      manufacturer: $("#manufacturer").val(),
      manufacturer_address: $("#manufacturer_address").val(),
      bussiness_name: $("#bussiness_name").val(),
      tipo_procedimiento_id: $("#tipo_procedimiento").val(),
      reglamento_tecnico_id: $("#reglamento_tecnico").val(),
      product_description: $("#product_description").val(),
      product_attributes: getProductAttributes(),
      technical_normatives: getTechnicalNormatives(),
      reports: getReports()
    };    

    $("#djc-card").hide();
    $("#responses").removeClass().addClass("alert alert-info").html("Guardando DJC...");

    response = await fetch("<%= api_v1_djcs_url %>", {
      method: "POST",
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(objetoDatos)
    });
    if (!response.ok) {
      const errorMessage = await response.json();
      
      if(errorMessage.hasOwnProperty('messages')) {
        ul = $("<ul></ul>");
        $.each( errorMessage.messages, function( index, value ) {
          ul.append($("<li></li>").html(value))
        });
      }
      else {
        ul = errorMessage.message;
      }
      $("#responses").removeClass().addClass("alert alert-danger").html(ul);
      $("#djc-card").show();
    } else {
      const data = await response.json();
      $("#responses").removeClass().addClass("alert alert-success").html("DJC creada exitosamente");
      $("#djc-card").show();
    }
  } catch(error) {
    $("#responses").removeClass().addClass("alert alert-success").html(`Error al procesar la peticion. ${error}`);
    $("#djc-card").show();
  }
}
</script>
