<div id="djc-card" class="card mb-4 shadow-sm">
  <div class="card-header bg-light">
    <h4 class="card-title">Crear Declaración de Conformidad</h4>
  </div>
  <div class="card-body">
    <div class="row mb-1">
      <div class="col-md-4 text-md-end">
        <label class="mr-2">Selecciona la Compañía</label>
      </div>
      <div class="col-md-8">
        <select class="form-control" id="company" style=""></select>
      </div>
    </div>
    <hr>
    <div id="djc_fields" style="display: none;">
      <div class="container">
        <%# QR %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Selecciona el QR</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="qr" style=""></select>
          </div>
        </div>
        <%# Origen %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Origen</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="origin">
          </div>
        </div>
        <%# Marca Registrada %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Marca registrada</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="trade_mark">
          </div>
        </div>
        <%# Dirección del Depósito %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Dirección del Depósito</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="deposit_address">
          </div> 
        </div>
        <%# Descripción del Producto %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Descripción del Producto</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="product_description">
          </div>
        </div>
        <%# Fabricante %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Fabricante</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="manufacturer">
          </div> 
        </div>
        <%# Dirección del Fabricante %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Dirección del Fabricante</label>
          </div>
          <div class="col-md-8">
            <input class="form-control" type="text" id="manufacturer_address">
          </div>
        </div>
        <%# Reglamento Técnico %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Selecciona el Reglamento técnico</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="reglamento_tecnico">
              <option value="">Seleccione un reglamento técnico</option>
              <% ReglamentoTecnico.all.each do |r| %>
                <option value="<%= r.id %>"><%= r.nombre %></option>
              <% end %>
            </select>
          </div>
        </div>
        <%# Tipo de procedimiento %>
        <div class="row mb-1">
          <div class="col-md-4 text-md-end">
            <label class="mr-2">Selecciona el Tipo de procedimiento</label>
          </div>
          <div class="col-md-8">
            <select class="form-control" id="tipo_procedimiento">
              <option value="">Seleccione un tipo de procedimiento</option>
              <% TipoProcedimiento.all.each do |r| %>
                <option value="<%= r.id %>"><%= r.nombre %></option>
              <% end %>
            </select>
        </div>
      </div>
      <%# Tabla con los datos de marca, modelo, características técnicas %>
      <div class="card mt-2">
        <div class="card-header bg-light">
          <div class="card-title mb-0 d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Características Técnicas</h6>
          </div>
        </div>
        <div class="card-body p-2">
          <table id="product_attributes" class="table table-hover align-middle">
            <thead>
              <tr>
                <th style="border: none;">
                  <input class="form-control" id="marca" type="text" placeholder="Marca">
                </th>
                <th style="border: none;">
                  <input class="form-control" id="modelo" placeholder="Modelo" type="text">
                </th>
                <th style="border: none;">
                  <input class="form-control" id="caracteristica" placeholder="Característica" type="text">
                </th>
                <th style="border: none;" class="d-flex justify-content-end">
                  <button type="button" class="btn btn-success" onclick="addProductAttributes()">
                    <i class="bi bi-plus-circle"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <%# Normas Técnicas %>
      <div class="card mt-2">
        <div class="card-header bg-light">
          <div class="card-title mb-0 d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Normas Técnicas</h6>
          </div>
        </div>
        <div class="card-body p-2">
          <table id="normas_tecnicas" class="table table-hover align-middle">
            <thead>
              <tr>
                <th style="border: none;">
                  <input class="form-control" id="norma_tecnica" placeholder="norma" type="text" />
                </th>
                <th style="border: none;" class="d-flex justify-content-end">
                  <button type="button" class="btn btn-success d-block ms-auto" onclick="addNormaTecnica()">
                    <i class="bi bi-plus-circle"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <%# Reportes %>
      <div class="card mt-2">
        <div class="card-header bg-light">
          <div class="card-title mb-0 d-flex justify-content-between align-items-center">
            <h6 class="mb-0">Reportes</h6>
          </div>
        </div>
        <div class="card-body p-2">
          <table id="reports" class="table table-hover align-middle">
            <thead>
              <tr> 
                <th style="border: none;">
                  <input class="form-control" id="report_number" placeholder="Número de Reporte" type="text" />
                </th>
                <th style="border: none;">
                  <input class="form-control" id="report_emiter" placeholder="Emisor" type="text" />
                </th>
                <th style="border: none;" class="d-flex justify-content-end">
                  <button type="button" class="btn btn-success d-block ms-auto" onclick="addReporte()">
                    <i class="bi bi-plus-circle"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="form-group text-left mt-4">
        <button type="button" class="btn btn-success ms-auto" onclick="enviar()">
          Crear
        </button>
        <%= link_to 'Volver', djcs_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>



<script>
$(document).ready(function() {
  // Mostrar el mensaje de "Cargando compañías..." al inicio
  createApiResponse("info",{message: "Cargando compañías..."});
  
  $('#company').change(function() {
    $('#company option[value=""]').remove();
    if ($(this).val()) {
      $('#djc_fields').show(); // Muestra los campos      
      loadQRs()
    } 
  });
  $('#qr').change(function() {
    $('#qr option[value=""]').remove();
  });
   $('#tipo_procedimiento').change(function() {
    $('#tipo_procedimiento option[value=""]').remove();
  });
   $('#reglamento_tecnico').change(function() {
    $('#reglamento_tecnico option[value=""]').remove();
  });

  // Hacer la solicitud fetch a la API para obtener las compañías
  loadCompanies();
});

async function loadCompanies() {
  data = await doGet("<%= api_v1_companies_url %>");
  cleanApiResponse();
  
  $('#company').empty().append('<option value="">Seleccione una compañía</option>');      
  // Iterar sobre la lista de compañías y agregar cada una como opción
  $.each(data, (index, company) => {
    $('#company').append('<option value="' + company.id + '">' + company.name + '</option>');
  });
}
async function loadQRs() {
  createApiResponse("info",{message: "Cargando QRs..."});
  $('#qr').empty().append('<option value="">Seleccione un QR</option>');
  url = "<%= qrs_api_v1_company_url(id: "__ID__") %>"
  data = await doGet(url.replace('__ID__', $('#company').val()));

  cleanApiResponse();
  $.each(data, (index, qr) => {
    $('#qr').append('<option value="' + qr.id + '">' + qr.description + '</option>');
  });
}

function addProductAttributes() {
  // Obtener los valores de los campos de texto
  const marca = $("#marca").val();
  const modelo = $("#modelo").val();
  const caracteristica = $("#caracteristica").val();

  // Crear una nueva fila con los valores
  const id = `product-attribute-${$('#product_attributes tbody tr').length}`
  const newRow = `
    <tr id="${id}">
      <td class="align-middle">${marca}</td>
      <td class="align-middle">${modelo}</td>
      <td class="align-middle">${caracteristica}</td>
      <td class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" onclick="delTableRow('${id}')">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  `;
  
  // Agregar la fila al cuerpo de la tabla
  $("#product_attributes tbody").append(newRow);

  // Limpiar los campos del formulario
  $("#marca").val("");
  $("#modelo").val("");
  $("#caracteristica").val("");
}
function addNormaTecnica() {
  // Obtener los valores de los campos de texto
  const norma = $("#norma_tecnica").val();
  
  // Crear una nueva fila con los valores
  const id = `norma_tecnica-${$('#normas_tecnicas tbody tr').length}`
  const newRow = `
    <tr id="${id}">
      <td colspan="2" class="align-middle">${norma}</td>
      <td class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" onclick="delTableRow('${id}')">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  `;
  // Agregar la fila al cuerpo de la tabla
  $("#normas_tecnicas tbody").append(newRow);

  // Limpiar los campos del formulario
  $("#norma_tecnica").val("");
}
function addReporte() {
  // Obtener los valores de los campos de texto
  const report_number = $("#report_number").val();
  const report_emiter = $("#report_emiter").val();
  
  // Crear una nueva fila con los valores
  const id = `report-${$('#reports tbody tr').length}`
  const newRow = `
    <tr id="${id}">
      <td class="align-middle">${report_number}</td>
      <td class="align-middle">${report_emiter}</td>
      <td class="d-flex justify-content-end">
        <button type="button" class="btn btn-danger" onclick="delTableRow('${id}')">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  `;
  // Agregar la fila al cuerpo de la tabla
  $("#reports tbody").append(newRow);

  // Limpiar los campos del formulario
  $("#report_number").val("");
  $("#report_emiter").val("");
}

function delTableRow(id) {
  $(`#${id}`).remove();
}

function getProductAttributes() {
  const productAttributes = [];
  
  // Iterar sobre cada fila en el footer
  $("#product_attributes tbody tr").each(function () {
    // Crear un objeto con los valores
    const atributo = {
      brand: $(this).find("td:nth-child(1)").text().trim(),
      model: $(this).find("td:nth-child(2)").text().trim(),
      characteristic: $(this).find("td:nth-child(3)").text().trim()
    };
    // Agregar el objeto al array
    productAttributes.push(atributo);
  });

  return productAttributes;
}
function getTechnicalNormatives() {
  const technicalNormatives = [];
  
  // Iterar sobre cada fila en el footer
  $("#normas_tecnicas tbody tr").each(function () {
    // Agregar el objeto al array
    technicalNormatives.push($(this).find("td:nth-child(1)").text().trim());
  });

  return technicalNormatives;
}
function getReports() {
  const reports = [];
  
  // Iterar sobre cada fila en el footer
  $("#reports tbody tr").each(function () {
    // Crear un objeto con los valores
    const atributo = {
      number: $(this).find("td:nth-child(1)").text().trim(),
      emitter: $(this).find("td:nth-child(2)").text().trim()
    };
    // Agregar el objeto al array
    reports.push(atributo);
  });

  return reports;
}
async function enviar(data) {
  var objetoDatos = {
    company_id: $("#company").val(),
    qr_id: $("#qr").val(),
    trade_mark: $("#trade_mark").val(),
    deposit_address: $("#deposit_address").val(),
    manufacturer: $("#manufacturer").val(),
    manufacturer_address: $("#manufacturer_address").val(),
    origin: $("#origin").val(),
    tipo_procedimiento_id: $("#tipo_procedimiento").val(),
    reglamento_tecnico_id: $("#reglamento_tecnico").val(),
    product_description: $("#product_description").val(),
    product_attributes: getProductAttributes(),
    technical_normatives: getTechnicalNormatives(),
    reports: getReports()
  };    

  $("#djc-card").hide();
  createApiResponse("info",{message: "Guardando Declaración Jurada de Conformidad..."})
  
  djc = await doPost("<%= api_v1_djcs_url %>", objetoDatos);
  if(djc == null)
    $("#djc-card").show();
}
</script>
