<?xml version="1.0" encoding="UTF-8"?>
<head>
    <!-- Vincula la fuente de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <style>
      .barlow-bold {
        font-family: "Barlow", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      .span-reglamento-tecnico {
        width: 500px;
        height: 20px;
        position: fixed;
        top: 77px;
        left: 200px;
        font-size: 1rem;
        text-align: center;
        color: #21467A;
      }
      .span-djc-number {
        width: 500px;
        height: 20px;
        position: fixed;
        top: 102px;
        left: 200px;
        font-size: 1rem;
        text-align: center;
        color: #21467A;
      }
      .span-djc-confeccion {
        width: 190px;
        height: 15px;
        position: fixed;
        top: 1197px;
        left: 30px;
        font-size: 0.9rem;
        text-align: center;
        color: black;
      }
      .span-djc-signed {
        width: 190px;
        height: 15px;
        position: fixed;
        top: 1197px;
        left: 355px;
        font-size: 0.9rem;
        text-align: center;
        color: black;
      }
      .span-djc-approved {
        width: 190px;
        height: 15px;
        position: fixed;
        top: 1197px;
        left: 680px;
        font-size: 0.9rem;
        text-align: center;
        color: black;
      }
      .signature {
        width: 300px;
        height: 150px;
        position: fixed;
        top: 1047px;
        left: 600px;
      }
    </style>
</head>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.2 59.59" width="139" height="139" style="position: fixed; top: 1px; right: -20px;">
  <!-- Movimiento del SVG a la posición X=300mm, Y=10mm -->
  <g>
    <%= raw djc.qr.generate_svg %> <!-- Aquí se genera el QR -->
  </g>
</svg>
<span class="barlow-bold" style="color: white; position: fixed; top: 77px; left: 19px; font-size: 0.8rem;">
  QAR.AR/<%= djc.qr.code.upcase %>
</span>
<span class="span-reglamento-tecnico barlow-bold">
  <%= djc.reglamento_tecnico.nombre.upcase %>
</span>
<span class="span-djc-number barlow-bold">
  N° <%= djc.id.to_s.rjust(8, '0') %>
</span>
<span class="span-djc-confeccion barlow-bold">
  <%= djc.creator.name %>
</span>
<% unless djc.approved_by.nil? %>
  <span class="span-djc-signed barlow-bold">
    <%= djc.approved_by.name %>
  </span>
<%end%>
<% unless djc.signed_by.nil? %>
  <%= image_tag djc.signed_by.signature_file.url, class: "signature" %>
  <span class="span-djc-approved barlow-bold">
    <%= djc.signed_by.name %>
  </span>
<%end%>
