<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Declaración Jurada de Conformidad</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        <div class="text-end mb-2">
          <p class="mb-0">
            <% image_data = Base64.encode64(djc.qr.qr_small_image.download) %>
            <img src="data:<%= djc.qr.qr_small_image.content_type %>;base64,<%= image_data %>" alt="QR" width="94" height="94"/>
          </p>
          <span class="text-muted" style="font-size: 0.6rem;"><%= djc.qr.url %></span>
        </div>

        <h3 class="text-center">DECLARACIÓN JURADA DE CONFORMIDAD <%= "#{djc.qr.code}-#{djc.id}".upcase%></h1>
        <h5 class="text-center"><%= djc.reglamento_tecnico.nombre %></h3>

        <p class="mt-4">Nosotros</p>
        <p>Razón Social: <strong><%= djc.bussiness_name %></strong></p>
        <p>CUIT: <strong><%= djc.company.cuit %></strong></p>
        <p>Nombre comercial o Marca registrada: <strong><%= djc.trade_mark %></strong></p>
        <p>Dirección: <strong><%= djc.legal_address %></strong></p>
        <p>Dirección de fábrica o depósito en Argentina: <strong><%= djc.deposit_address %></strong></p>
        <p>Teléfono: <strong><%= djc.company.contact_phone %></strong></p>
        <p>Mail: <strong><%= djc.company.contact_email %></strong></p>

        <p class="mt-4">Emitimos la presente declaración de conformidad con relación a los siguientes productos:</p>
        <p>Descripción: <strong><%= djc.product_description %></strong></p>
        <p>Fabricante: <strong><%= djc.manufacturer %></strong></p>
        <p>Domicilio: <strong><%= djc.manufacturer_address %></strong></p>

        <p class="mt-4">Productos:</p>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Características técnicas</th>
                </tr>
            </thead>
            <tbody>
                <% djc.product_attributes.each do |p| %>
                  <tr>
                      <td><%= p["brand"] %></td>
                      <td><%= p["model"] %></td>
                      <td><%= p["characteristic"] %></td>
                  </tr>
                <% end %>
            </tbody>
        </table>

        <p>Estos productos alcanzados por el siguiente reglamento técnico:</p>
        <p><strong><%= djc.reglamento_tecnico.nombre %></strong></p>

        <p class="mt-4">Cumplen con las siguientes normas técnicas:</p>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Norma Técnica</th>
                </tr>
            </thead>
            <tbody>
                <% djc.technical_normatives.each do |t| %>
                <tr>
                    <td><%= t %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <p class="mt-4">Habiendo sido sometidos al siguiente procedimiento de evaluación de la conformidad:</p>
        <p><strong><%= djc.tipo_procedimiento.nombre %></strong></p>
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Número de Reporte</th>
                    <th>Emisor</th>
                </tr>
            </thead>
            <tbody>
                <% djc.reports.each do |r| %>
                <tr>
                    <td><%= r["number"] %></td>
                    <td><%= r["emitter"] %></td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <p class="mt-4"><strong><%= djc.company.name %></strong></p>
        <p><%= djc.company.address %>, <%= djc.created_at.strftime("%A %d de %B de %Y") %></p>

        <p class="mt-4">La presente declaración jurada de conformidad se emite, en todo de acuerdo con el/los Reglamentos Técnicos aludidos precedentemente, asumiendo la responsabilidad directa por los datos declarados, así como por la conformidad del producto.</p>

        <% if djc.signed_by.present? %>
          <% signature = Base64.encode64(djc.signed_by.signature_file.download) %>
          <div class="text-end mt-5">
              <img src="data:<%= djc.signed_by.signature_file.content_type %>;base64,<%= signature %>" alt="Signature" width="120"/>
              <p><strong><%= djc.signed_by.name %></strong></p>
              <p><strong><%= djc.signed_by.position %></strong></p>
              <p><strong><%= djc.company.name %></strong></p>
          </div>
        <% end %>

        <footer class="mt-5">
            <p><small>
              Generado por: <strong><%= djc.creator.name %></strong> - 
              Aprobado por: <strong><%= djc.approved_by.try(:name) %></strong>
            </small></p>
        </footer>
    </div>
</body>
</html>
