<%= form_with(model: delegate_company) do |form| %>
  <% if delegate_company.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delegate_company.errors.count, "error") %> prohibited this delegate_company from being saved:</h2>

      <ul>
        <% delegate_company.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :accepted, style: "display: block" %>
    <%= form.check_box :accepted %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
