<%= form_with(model: reglamento_tecnico) do |form| %>
  <% if reglamento_tecnico.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reglamento_tecnico.errors.count, "error") %> prohibited this reglamento_tecnico from being saved:</h2>

      <ul>
        <% reglamento_tecnico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
