<p style="color: green"><%= notice %></p>

<%= render @tipo_procedimiento %>

<div>
  <%= link_to "Edit this tipo procedimiento", edit_tipo_procedimiento_path(@tipo_procedimiento) %> |
  <%= link_to "Back to tipo procedimientos", tipo_procedimientos_path %>

  <%= button_to "Destroy this tipo procedimiento", @tipo_procedimiento, method: :delete %>
</div>
