<div id="<%= dom_id declaracion_conformidad %>">
  <p>
    <strong>Producto:</strong>
    <%= declaracion_conformidad.product_id %>
  </p>

  <p>
    <strong>Reglamento tecnico:</strong>
    <%= declaracion_conformidad.reglamento_tecnico_id %>
  </p>

  <p>
    <strong>Tipo procedimiento:</strong>
    <%= declaracion_conformidad.tipo_procedimiento_id %>
  </p>

  <p>
    <strong>Numero reporte:</strong>
    <%= declaracion_conformidad.numero_reporte %>
  </p>

  <p>
    <strong>Emisor reporte:</strong>
    <%= declaracion_conformidad.emisor_reporte %>
  </p>

  <p>
    <strong>Fecha emision:</strong>
    <%= declaracion_conformidad.fecha_emision %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= declaracion_conformidad.estado %>
  </p>

</div>
