<%= form_with(model: declaracion_conformidad) do |form| %>
  <% if declaracion_conformidad.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(declaracion_conformidad.errors.count, "error") %> prohibited this declaracion_conformidad from being saved:</h2>

      <ul>
        <% declaracion_conformidad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :reglamento_tecnico_id, style: "display: block" %>
    <%= form.text_field :reglamento_tecnico_id %>
  </div>

  <div>
    <%= form.label :tipo_procedimiento_id, style: "display: block" %>
    <%= form.text_field :tipo_procedimiento_id %>
  </div>

  <div>
    <%= form.label :numero_reporte, style: "display: block" %>
    <%= form.text_field :numero_reporte %>
  </div>

  <div>
    <%= form.label :emisor_reporte, style: "display: block" %>
    <%= form.text_field :emisor_reporte %>
  </div>

  <div>
    <%= form.label :fecha_emision, style: "display: block" %>
    <%= form.date_field :fecha_emision %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.number_field :estado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
