<h1 class="my-4">Crear Declaración de Conformidad</h1>

<%= form_with(model: @declaracion_conformidad, local: true) do |form| %>
  <% if @declaracion_conformidad.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@declaracion_conformidad.errors.count, "error") %> impidió que la declaración se guardara:</h4>
      <ul>
        <% @declaracion_conformidad.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :product_id, "Producto" %>
    <%= form.collection_select :product_id, Product.all, :id, :name, { prompt: "Seleccione un producto" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reglamento_tecnico_id, "Reglamento Técnico" %>
    <%= form.collection_select :reglamento_tecnico_id, ReglamentoTecnico.all, :id, :nombre, { prompt: "Seleccione un reglamento técnico" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :tipo_procedimiento_id, "Tipo de Procedimiento" %>
    <%= form.collection_select :tipo_procedimiento_id, TipoProcedimiento.all, :id, :nombre, { prompt: "Seleccione un tipo de procedimiento" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :numero_reporte, "Número de Reporte" %>
    <%= form.text_field :numero_reporte, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :emisor_reporte, "Emisor del Reporte" %>
    <%= form.text_field :emisor_reporte, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fecha_emision, "Fecha de Emisión" %>
    <%= form.date_select :fecha_emision, class: "form-control" %>
  </div>

  <div class="form-group">
  <%= form.label :estado, "Estado" %>
  <%= form.select :estado, DeclaracionConformidad.estados.keys.map { |estado| [estado.humanize, estado] }, {}, class: "form-control" %>
</div>

  <!-- Nuevo campo para seleccionar la Empresa -->
  <div class="form-group">
    <%= form.label :empresa_id, "Empresa" %>
    <%= form.collection_select :empresa_id, Empresa.all, :id, :razon_social, { prompt: "Seleccione una empresa" }, class: "form-control" %>
  </div>

  <!-- Nuevo campo para Origen del Producto -->
  <div class="form-group">
    <%= form.label :origen, "Origen del Producto" %>
    <%= form.text_field :origen, class: "form-control" %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Crear Declaración de Conformidad", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Volver', declaracion_conformidads_path, class: "btn btn-secondary mt-3" %>