<%= form_with(model: company, local: true, class: "form-container") do |f| %>
  <%= render 'layouts/errors', entity: company %>
  
  <!-- Nombre de la empresa -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :name, "Nombre de la Empresa", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :name, class: "form-control", required: true, placeholder: "Ingrese el nombre de la empresa" %>
    </div>
  </div>

  <!-- Dirección -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :address, "Dirección", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :address, class: "form-control", required: true, placeholder: "Ingrese la dirección de la empresa" %>
    </div>
  </div>

  <!-- CUIT -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :cuit, "CUIT", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :cuit, class: "form-control", required: true, placeholder: "Ingrese el CUIT de la empresa", data: { cuil_autocomplete: true } %>
    </div>
  </div>

  <!-- Correo electrónico de contacto -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :contact_email, "Correo Electrónico de Contacto", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.email_field :contact_email, class: "form-control", required: true, placeholder: "Ingrese el correo electrónico de contacto" %>
    </div>
  </div>

  <!-- Nombre del contacto -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :contact_name, "Nombre del Contacto", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :contact_name, class: "form-control", required: true, placeholder: "Ingrese el nombre del contacto" %>
    </div>
  </div>

  <!-- Teléfono de contacto -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :contact_phone, "Teléfono de Contacto", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.text_field :contact_phone, class: "form-control", required: true, placeholder: "Ingrese el teléfono de contacto" %>
    </div>
  </div>

  <!-- Estatuto de la compañía -->
  <div class="row mb-2">
    <div class="col-md-5">
      <%= f.label :estatuto_file, "Estatuto de la Compañía", class: "form-label" %>
    </div>
    <div class="col-md-7">
      <%= f.file_field :estatuto_file, accept: 'application/pdf', class: "form-control" %>
      <small class="form-text text-muted">Cargue archivo PDF con el estatuto de la empresa.</small>
    </div>
  </div>

  <!-- Botón de acción -->
  <div class="row mb-2">
    <div class="col-md-12 d-flex justify-content-end">
      <%= link_to "Volver", companies_path, class: "btn btn-secondary" %>
      <%= f.button :submit, class: "btn btn-primary mx-2" do %>
        <%= company.new_record? ? 'Crear' : 'Actualizar' %>
      <% end %>
    </div>
  </div>
<% end %>
