<%= form_with(model: company, local: true, class: "form-container") do |f| %>
  <% if company.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(company.errors.count, "error") %> impidió que se guardara la empresa:</h4>
      <ul>
        <% company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :address, class: "form-label" %>
    <%= f.text_field :address, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :cuit, class: "form-label" %>
    <%= f.text_field :cuit, class: "form-control", required: false %>
  </div>

  <div class="form-group">
    <%= f.label :contact_email, class: "form-label" %>
    <%= f.email_field :contact_email, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :contact_name, class: "form-label" %>
    <%= f.text_field :contact_name, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :contact_phone, class: "form-label" %>
    <%= f.text_field :contact_phone, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label 'Estatuto de la Compañia', class: "form-label" %>
    <%= f.file_field :estatuto_file %>
  </div>

  <div class="actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>