
<%= form_with(model: company, local: true, class: "form-container") do |f| %>
  <%= render 'layouts/errors', entity: company %>
  
  <!-- Nombre de la empresa -->
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control", required: true, placeholder: "Ingrese el nombre de la empresa" %>
  </div>

  <!-- Dirección -->
  <div class="mb-3">
    <%= f.label :address, class: "form-label" %>
    <%= f.text_field :address, class: "form-control", required: true, placeholder: "Ingrese la dirección de la empresa" %>
  </div>

  <!-- CUIT -->
  <div class="mb-3">
    <%= f.label :cuit, class: "form-label" %>
    <%= f.text_field :cuit, id: "user_cuit", class: "form-control", required: true, placeholder: "Ingrese el CUIT de la empresa" %>
  </div>

  <!-- Correo electrónico de contacto -->
  <div class="mb-3">
    <%= f.label :contact_email, class: "form-label" %>
    <%= f.email_field :contact_email, class: "form-control", required: true, placeholder: "Ingrese el correo electrónico de contacto" %>
  </div>

  <!-- Nombre del contacto -->
  <div class="mb-3">
    <%= f.label :contact_name, class: "form-label" %>
    <%= f.text_field :contact_name, class: "form-control", required: true, placeholder: "Ingrese el nombre del contacto" %>
  </div>

  <!-- Teléfono de contacto -->
  <div class="mb-3">
    <%= f.label :contact_phone, class: "form-label" %>
    <%= f.text_field :contact_phone, class: "form-control", required: true, placeholder: "Ingrese el teléfono de contacto" %>
  </div>

  <!-- Estatuto de la compañía -->
  <div class="mb-3">
    <%= f.label 'Estatuto de la Compañía', class: "form-label" %>
    <%= f.file_field :estatuto_file, accept: 'application/pdf', class: "form-control" %>
    <small class="form-text text-muted">Cargue archivo PDF con el estatuto de la empresa.</small>
  </div>

  <!-- Botón de acción -->
  <div class="mb-3">
    <%= link_to "Volver", companies_path, class: "btn btn-secondary" %>
    <%= f.button :submit, class: "btn btn-primary" do %>
      <%= company.new_record? ? 'Crear' : 'Actualizar' %>
    <% end %>
  </div>
<% end %>

<script>
$(document).ready(function() {
  $("#user_cuit").on('input', function() {
    if($(this).val().length >= 11)
      $(this).val(formatCuit($(this).val()));
  });
});
</script>