<% user_rol = current_user.roles.where(company_id: @company.id).first %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre de Usuario</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @company.roles.each do |rol| %>
      <tr id="role-<%= rol.id %>">
        <td><%= rol.user.name %></td>
        <td><span class="badge bg-info"><%= rol.role %></span></td>
        <td>
          <% if (user_rol.apoderado? && !rol.apoderado?) || user_rol.supervisor? && rol.delegado? %>
            <button type="button" class="btn btn-sm btn-danger" onclick="borrar('<%= api_v1_role_path(rol) %>', <%= rol.id %>)">
              <i class="bi bi-trash"></i> 
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  async function borrar(url, rol_id) {
    try {
      response = await fetch(url, {
        method: "DELETE",
        headers: {
          'Content-Type': 'application/json'
        }
      });
      if (!response.ok) {
        console.log(await response.json());
        alert("No se pudo borrar la delegación")
      } else {
        alert("Delegación eliminada.")
        $("#role-"+rol_id).remove();
      }
    } catch(error) {
      alert('Error al borrar delegación:', error);
    }
  }
</script>