<div class="card">
  <div class="card-header bg-light">
      <div class="card-title mb-0 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Gestión de Empresas</h4>
        <%= link_to "Nueva Empresa", new_company_path, class: "btn btn-success" %>
      </div>
  </div>
  <div class="card-body">
    <div id="delegationBlock" class="justify-content-between align-items-center mb-3" style="display: none;">
      <div class="input-group">
        <input type="text" id="delegation_email" class="form-control" placeholder="Ingrese el email a delegar">
        <select id="delegation_role"></select>
        <input type="hidden" id="delegation_company_id" class="form-control">
        <button id="delegation_btn" class="btn btn-primary" type="button" onclick="createDelegation()"></button>
      </div>
    </div>

    <%= render 'qr' %>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>CUIT</th>
            <th>Dirección</th>
            <th>Contacto</th>
            <th>Rol</th>
            <th>Estatuto</th>
            <th>Verificada</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if @companies.size > 0 %>
            <% @companies.each do |company| %>
              <tr>
                <td><%= company.name %></td>
                <td><%= company.cuit %></td>
                <td><%= company.address %></td>
                <td>
                  <div>
                    <small><strong>Email:</strong> <%= company.contact_email %></small><br>
                    <small><strong>Nombre:</strong> <%= company.contact_name %></small><br>
                    <small><strong>Teléfono:</strong> <%= company.contact_phone %></small>
                  </div>
                </td>
                <td>
                  <span class="badge bg-info">
                    <% if current_user.admin? %>  
                      ADMINISTRADOR
                    <% else %>
                      <%= Role::role_name(company.user_role).upcase %>
                    <% end %>
                  </span>
                </td>
                <td class="text-center">
                  <% if company.estatuto_file.attached? %>
                    <a href="<%= url_for(company.estatuto_file) %>" 
                      target="_blank" 
                      class="btn btn-primary btn-sm d-inline-flex align-items-center">
                      <i class="bi bi-file-earmark-text me-1"></i> Ver Estatuto
                    </a>
                  <% else %>
                    <span class="badge bg-danger">NO</span>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if company.verified %>
                    <span class="badge bg-success">SI</span>
                  <% else %>
                    <span class="badge bg-danger">NO</span>
                  <% end %>
                </td>
                <td class="text-center">
                  <%= link_to company_path(company), class: "btn btn-success btn-sm me-1" do %>
                    <i class="bi bi-eye"></i>
                  <% end %>
                  <div class="btn btn-primary btn-sm me-1" onclick="delegar(<%= company.id %>, <%= current_user.admin ? -1 : company.user_role  %>)">
                    <i class="bi bi-person-add"></i>
                  </div>
                  <%= link_to edit_company_path(company), class: 'btn btn-warning btn-sm me-1' do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                  <div class="btn btn-secondary btn-sm me-1" onclick="showCreateQr(<%= company.id %>, '<%= company.name %>')">
                    <i class="bi bi-qr-code"></i>
                  </div>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="8" class="text-center text-muted">
                Aún no hay empresas.
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function delegar(company_id, actual_rol) {
    $("#qrCreate").hide();
    $("#delegation_company_id").val(company_id);

    datos = Array();
    if(actual_rol != 0) {
      datos.push({"name": "DELEGADO", "id": 0}); 
      datos.push({"name": "SUPERVISOR", "id": 1});
    } 
    datos.push({"name": "APODERADO", "id": 2});

    $("#delegation_role").empty(); // Limpiamos el select antes de agregar nuevas opciones
    $.each(datos, function(index, value) {
      var option = $("<option></option>").attr("value", value.id).text(value.name);
      if(index == 0)
        option.attr("selected","true");
      $("#delegation_role").append(option);
    });
    // Si es delegado no muestro el combo y cambio el texto del boton
    if(datos.length == 1) {
      $("#delegation_role").hide();
      $("#delegation_btn").text("Solicitar Delegación")
    }
    else {
      $("#delegation_btn").text("Delegar")
      $("#delegation_role").show();
    }
    $("#delegationBlock").show();
  }

  async function createDelegation() {
    createApiResponse("info",{message: "Solicitando delegación..."});

    const data = {
      email: $("#delegation_email").val(),
      company_id: $("#delegation_company_id").val(),
      role: $("#delegation_role").val()
    };

    doPost("<%= delegar_api_v1_delegations_url %>", data);
  }

  function showCreateQr(company_id, company_name) {
    $("#delegationBlock").hide();
    $("#qrCreate").show();
    $("#qr_company_id").val(company_id);
    $('#qr_company_name').text(company_name);
  }
</script>