<h1 class="my-4">Detalles de la Empresa</h1>

<div class="card">
  <div class="card-body">
    <!-- Información general de la empresa -->
    <h5 class="card-title">Información General</h5>
    <p><strong>Nombre:</strong> <%= @company.name %></p>
    <p><strong>CUIT:</strong> <%= @company.cuit %></p>
    <p><strong>Correo de Contacto:</strong> <%= @company.contact_email %></p>
    <p><strong>Nombre del Contacto:</strong> <%= @company.contact_name %></p>
    <p><strong>Teléfono de Contacto:</strong> <%= @company.contact_phone %></p>
    <p><strong>Rol:</strong> 
      <% if current_user.admin? %>
        ADMINISTRADOR
      <% else %>
        <%= current_user.roles.where(company_id: @company.id).first.role.upcase %>
      <% end %>
    </p>

    <!-- Estatuto -->
    <p><strong>Estatuto:</strong> 
      <% if @company.estatuto_file.attached? %>
        <a href="<%= url_for(@company.estatuto_file) %>" target="_blank" class="btn btn-link"><%= @company.estatuto_file.filename.to_s %></a>
      <% else %>
        No se ha cargado el estatuto aún.
      <% end %>
    </p>

    <!-- Verificación -->
    <p><strong>Verificada:</strong>
      <% if @company.verified %>
        <span class="text-success">Sí</span>
      <% else %>
        <span class="text-danger">No</span>
      <% end %>
    </p>

    <!-- Delegaciones -->
    <h5 class="mt-4">Usuarios</h5>
    <%= render 'usuarios', company: @company %>
  </div>
</div>

<!-- Botones de acción -->
<div class="mt-4">
  <%= link_to "Editar", edit_company_path(@company), class: "btn btn-warning btn-sm me-2" %>
  <%= link_to "Volver", companies_path, class: "btn btn-secondary btn-sm" %>
</div>
