<div id="<%= dom_id delegacion %>">
  <p>
    <strong>Empresa:</strong>
    <%= delegacion.empresa_id %>
  </p>

  <p>
    <strong>Usuario origen:</strong>
    <%= delegacion.usuario_origen_id %>
  </p>

  <p>
    <strong>Usuario destino:</strong>
    <%= delegacion.usuario_destino_id %>
  </p>

  <p>
    <strong>Permisos delegacion:</strong>
    <%= delegacion.permisos_delegacion %>
  </p>

</div>
