<%= form_with(model: delegacion) do |form| %>
  <% if delegacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(delegacion.errors.count, "error") %> prohibited this delegacion from being saved:</h2>

      <ul>
        <% delegacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :empresa_id, style: "display: block" %>
    <%= form.text_field :empresa_id %>
  </div>

  <div>
    <%= form.label :usuario_origen_id, style: "display: block" %>
    <%= form.number_field :usuario_origen_id %>
  </div>

  <div>
    <%= form.label :usuario_destino_id, style: "display: block" %>
    <%= form.number_field :usuario_destino_id %>
  </div>

  <div>
    <%= form.label :permisos_delegacion, style: "display: block" %>
    <%= form.check_box :permisos_delegacion %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
