<p style="color: green"><%= notice %></p>

<%= render @delegacion %>

<div>
  <%= link_to "Edit this delegacion", edit_delegacion_path(@delegacion) %> |
  <%= link_to "Back to delegacions", delegacions_path %>

  <%= button_to "Destroy this delegacion", @delegacion, method: :delete %>
</div>
