<div id="<%= dom_id empresa %>">
  <p>
    <strong>Razon social:</strong>
    <%= empresa.razon_social %>
  </p>

  <p>
    <strong>Cuit:</strong>
    <%= empresa.CUIT %>
  </p>

  <p>
    <strong>Domicilio legal:</strong>
    <%= empresa.domicilio_legal %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= empresa.estado %>
  </p>

  <p>
    <strong>Apoderado nombre:</strong>
    <%= empresa.apoderado_nombre %>
  </p>

  <p>
    <strong>Apoderado cuil:</strong>
    <%= empresa.apoderado_CUIL %>
  </p>

  <p>
    <strong>Apoderado cargo:</strong>
    <%= empresa.apoderado_cargo %>
  </p>

  <p>
    <strong>Apoderado contacto:</strong>
    <%= empresa.apoderado_contacto %>
  </p>

</div>
