<div class="card">
  <div class="card-header bg-light">
      <div class="card-title mb-0 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Gestión de Delegaciones</h4>
      </div>
  </div>
  <div class="card-body">
    <div class="alert alert-info" role="alert">
      Para aceptar delegaciones como APODERADO debe cargar el poder previamente
    </div>

    <% unless current_user.can_by_apoderado? %>
      <div class="alert alert-info d-flex justify-content-between align-items-center" role="alert">
        <span>Debe completar datos para ser apoderado (requiere: CUIL y firma).</span>
        <%= link_to 'Editar', edit_admin_user_path(current_user), class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>

    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th>Razon Social</th>
            <th>Correo Electrónico</th>
            <th>Rol</th>
            <th>Fecha de Creación</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if @delegations.present? %>
            <% @delegations.each do |delegation| %>
              <tr id="delegation-<%= delegation.id %>">
                <td><%= delegation.company.try(:name) %></td>
                <td><%= delegation.email %></td>
                <td>
                  <span class="badge bg-primary"><%= delegation.role.upcase %></span>
                </td>
                <td><%= delegation.created_at.strftime("%d-%m-%Y %H:%M") %></td>
                
                <td class="text-center">
                  <% if  delegation.role == "apoderado" %>
                    <%= link_to apoderar_delegation_path(delegation), class: "btn btn-sm btn-success #{current_user.can_by_apoderado? ? '' : 'disabled'}" do %>
                      <i class="bi bi-check-circle"></i>
                    <% end %>
                  <% else %>
                    <button type="button" class="btn btn-sm btn-success" onclick="aceptar(<%= delegation.id %>)">
                      <i class="bi bi-check-circle"></i> 
                    </button>
                  <% end %>
                  <button type="button" class="btn btn-sm btn-danger" onclick="rechazar(<%= delegation.id %>)">
                    <i class="bi bi-x-circle"></i> 
                  </button>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="7" class="text-center text-muted">
                Aún no hay delegaciones.
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  async function aceptar(delegationId) {
    createApiResponse("info",{message: "Aceptando delegación..."});

    doPost("<%= aceptar_api_v1_delegations_url %>", {id: delegationId});
  }
  async function rechazar(delegationId) {
    // Mostrar el cuadro de diálogo
    let confirmacion = confirm("¿Estás seguro que desea rechazar la delegación?");
    if(confirmacion) {
      createApiResponse("info",{message: "Recchazando delegación..."});

      doPost("<%= rechazar_api_v1_delegations_url %>", {id: delegationId});
    }
  }
</script>
