<div class="card">
  <div class="card-header bg-light">
      <div class="card-title mb-0 d-flex justify-content-between align-items-center">
        <h4 class="mb-0"><%= @user.new_record? ? 'Nuevo Usuario' : 'Editar Usuario' %></h4>
      </div>
  </div>
  <div class="card-body">
    <%= form_with model: [:admin, @user], local: true do |form| %>
      <%= render 'layouts/errors', entity: @user %>

      <div class="row">
        <!-- Correo Electr칩nico (Deshabilitado) -->
        <div class="col-md-6 mb-3">
          <%= form.label :email, "Correo Electr칩nico", class: "form-label" %>
          <%= form.email_field :email, class: "form-control", readonly: true, placeholder: "Ingrese el email del usuario" %>
        </div>

        <!-- CUIL/CUIT con guiones autom치ticamente -->
        <div class="col-md-6 mb-3">
          <%= form.label :cuil, "CUIL/CUIT", class: "form-label" %>
          <%= form.text_field :cuil, class: "form-control", placeholder: "Ingrese el CUIL o CUIT", data: { cuil_autocomplete: true } %>
        </div>
      </div>

      <% if @user.admin %>
        <div class="form-check mt-4">
          <%= form.check_box :admin, class: "form-check-input" %>
          <%= form.label :admin, "Administrador", class: "form-check-label" %>
        </div>
      <% end %>

      <!-- Firma -->
      <% unless @user.signature_file.attached? %>
        <%= render 'signature' %>
      <% end %>

      <!-- Botones de Acci칩n -->
      <div class="actions mt-4">
        <%= form.submit @user.new_record? ? "Crear" : "Actualizar", class: "btn btn-primary" %>
        <%= link_to 'Cancelar', admin_users_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
