<div class="card">
  <div class="card-header bg-light">
    <div class="card-title mb-0 d-flex justify-content-between align-items-center">
      <h4 class="mb-0"><%= @user.new_record? ? 'Crear Usuario' : 'Editar Usuario' %></h4>
    </div>
  </div>
  <div class="card-body">
    <%= form_with model: [:admin, @user], local: true do |form| %>
      <%= render 'layouts/errors', entity: @user %>
      <!-- Correo Electrónico -->
      <div class="row mb-2">
        <div class="col-md-5">
          <%= form.label :email, "Correo Electrónico", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.email_field :email, class: "form-control", placeholder: "Ingrese el email del usuario" %>
        </div>
      </div>
      <!-- Contraseña -->
      <div class="row mb-2">
        <div class="col-md-5">
          <%= form.label :password, "Contraseña", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.password_field :password, class: "form-control", placeholder: "Ingrese una contraseña" %>
        </div>
      </div>
      <!-- Confirmación de Contraseña -->
      <div class="row mb-2">
        <div class="col-md-5 mb-3">
          <%= form.label :password_confirmation, "Confirmación de Contraseña", class: "form-label" %>
         </div>
        <div class="col-md-7">
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirme la contraseña" %>
        </div>
      </div>
      <!-- Nombre Completo -->
      <div class="row mb-2">
        <div class="col-md-5 mb-3">
          <%= form.label :name, "Nombre Completo", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.text_field :name, class: "form-control", placeholder: "Ingrese el nombre completo del usuario" %>
        </div>
      </div>
      <!-- Empresa -->
      <div class="row mb-2">
        <div class="col-md-5 mb-3">
          <%= form.label :bussiness, "Empresa", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.text_field :bussiness, class: "form-control", placeholder: "Ingrese el nombre de la empresa" %>
        </div>
      </div>
        <!-- Cargo -->
      <div class="row mb-2">
        <div class="col-md-5 mb-3">
          <%= form.label :position, "Cargo", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.text_field :position, class: "form-control", placeholder: "Ingrese el cargo del usuario" %>
        </div>
      </div>
      <!-- CUIL -->
      <div class="row mb-2">
        <div class="col-md-5 mb-3">
          <%= form.label :cuil, "CUIL", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.text_field :cuil, class: "form-control", placeholder: "Ingrese el CUIL del usuario", data: { cuil_autocomplete: true } %>
        </div>
      </div>
      <!-- Teléfono -->
      <div class="row mb-2">
        <div class="col-md-5 mb-3">
          <%= form.label :phone, "Teléfono", class: "form-label" %>
        </div>
        <div class="col-md-7">
          <%= form.telephone_field :phone, class: "form-control", placeholder: "Ingrese el teléfono del usuario" %>
        </div>
      </div>
      <!-- Administrador -->
      <div class="row mb-2">
        <div class="col-md-12" colspan="2">
          <div class="form-check mt-4">
            <%= form.check_box :admin, class: "form-check-input" %>
            <%= form.label :admin, "Administrador", class: "form-check-label" %>
          </div>
        </div>
      </div>
      <!-- Firma -->
      <%= render 'signature' %>
      <!-- Acciones -->
      <div class="row">
        <div class="col-md-12" colspan="2">
          <div class="actions mt-4">
            <%= form.submit @user.new_record? ? "Crear Usuario" : "Guardar Cambios", class: "btn btn-primary" %>
            <%= link_to 'Cancelar', admin_users_path, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
