<div class="card">
  <div class="card-header bg-light">
      <div class="card-title mb-0 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Actualizar contraseña</h4>
      </div>
  </div>
  <div class="card-body">
    <%= form_with model: [:admin, @user], local: true do |form| %>
      <%= render 'layouts/errors', entity: @user %>

      <!-- Contraseña Actual -->
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Contraseña actual</label>
        </div>
        <div class="col-md-8">
          <%= form.password_field :current_password, class: "form-control", placeholder: "Ingrese su contraseña actual" %>
        </div>
      </div>
      <!-- Nueva Contraseña -->
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Nueva Contraseña</label>
        </div>
        <div class="col-md-8">
          <%= form.password_field :password, class: "form-control", placeholder: "Ingrese la nueva contraseña" %>
        </div>
      </div>
      <!-- Confirmación de Nueva Contraseña -->
      <div class="row mb-1">
        <div class="col-md-4 text-md-end">
          <label class="mr-2">Confirmación de Nueva Contraseña</label>
        </div>
        <div class="col-md-8">
          <%= form.password_field :password_confirmation, class: "form-control", placeholder: "Confirme la nueva contraseña" %>
        </div>
      </div>
      
      <!-- Botones de Acción -->
      <div class="actions mt-4">
        <%= form.submit "Actualizar", class: "btn btn-primary" %>
        <%= link_to 'Cancelar', admin_users_path, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>

<script>
  createApiResponse("info", {message: "Al actualizar la contraseña deberá volver a ingresar"})
</script>