<h1>Listado de Productos</h1>

<%= link_to "Crear nuevo producto", new_product_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>QR Code</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td>
          <% if product.persisted? %>
          <%= raw(@svg) %>
          <% end %>
        </td>
        <td>
          <%= link_to "Ver", product_path(product), class: "btn btn-secondary" %>
          <%= link_to "Editar", edit_product_path(product), class: "btn btn-warning" %>
          <%= link_to "Eliminar", product_path(product), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>