<aside class="sidebar bg-dark text-white" id="sidebar">
  <h3 class="text-center mb-4">QAR</h3>
  <ul class="list-unstyled">
    <% if current_user.admin? %>
      <li><%= link_to 'Gestión de Usuarios', admin_users_path, class: 'sidebar-link' %></li>
      <li><%= link_to 'Auditoría de QRs', audits_qrs_path, class: 'sidebar-link' %></li>
      <li><%= link_to 'Auditoría de DJCs', audits_djcs_path, class: 'sidebar-link' %></li>
    <% else %>
      <li><%= link_to 'Mis datos', admin_users_path, class: 'sidebar-link' %></li>
    <% end %>
    <li><%= link_to 'Empresas', companies_path, class: 'sidebar-link' %></li>
    <li class="d-flex align-items-center">
      <%= link_to 'Delegaciones pendientes', delegations_path, class: 'sidebar-link' %>
      <span class="badge badge-info"><%= Delegation.with_email(current_user.email).count %></span>
    </li>
    <li><%= link_to 'QRs', qrs_path, class: 'sidebar-link' %></li>
    <li><%= link_to 'Declaraciones de Conformidad', djcs_path, class: 'sidebar-link' %></li>
    <% if current_user.admin? %>
      <li><%= link_to 'Reglamentos Técnicos', reglamento_tecnicos_path, class: 'sidebar-link' %></li>
      <li><%= link_to 'Tipos de Procedimiento', tipo_procedimientos_path, class: 'sidebar-link' %></li>
    <% end %>
  </ul>

  <!-- Sidebar Footer -->
  <div class="sidebar-footer mt-5 text-center">
    <small>Bienvenido, <%= current_user.name %></small><br/>
    <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-sm mt-2' %>
  </div>
</aside>
