<!DOCTYPE html>
<html>
<%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
<head>
  <title>ProductQRApp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

  <!-- Mensajes de notificación y alerta -->
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <!-- Contenido principal -->
  <%= yield %>

</body>
</html>