<!DOCTYPE html>
<html lang="es">
<head>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>QAR</title>

  <!-- Meta Tags para CSRF y Turbolinks -->
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Bootstrap 4 y Bootstrap Icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css", crossorigin: "anonymous" %>
  
  <!-- Google Tag Manager -->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5T636X4M');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body class="bg-light">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5T636X4M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <% if user_signed_in? %>
    <div class="d-flex">
      <!-- Sidebar -->
      <%= render 'layouts/sidebar' %>

      <!-- Content -->
      <main class="content flex-grow-1 p-4" id="main-content">
        <%= render 'layouts/responses' %>
        <%= yield %>
      </main>

      <!-- Sidebar Toggle Button -->
      <button class="sidebar-toggle btn btn-dark" id="sidebar-toggle">
        <i class="bi bi-list"></i>
      </button>
    </div>
  <% else %>
     <!-- Flash messages (visible en todas las páginas) -->
    <% if flash.any? %>
      <div class="container mt-3">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %> alert-dismissible fade show shadow-sm" role="alert">
            <i class="bi <%= key == 'notice' ? 'bi-check-circle-fill' : 'bi-exclamation-triangle-fill' %> mr-2"></i>
            <%= message %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      </div>
    <% end %>
    <!-- End Flash messages -->
    <div class="content mx-auto">
      <%= yield %>
    </div>
  <% end %>

  <!-- Scripts de Bootstrap y JavaScript personalizado -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
  
  <% if user_signed_in? %>
    <script>
      document.getElementById("sidebar-toggle").addEventListener("click", function() {
        document.getElementById("sidebar").classList.toggle("collapsed");
        document.getElementById("main-content").classList.toggle("collapsed");
      });
    </script>
  <% end %>
</body>
</html>