<!DOCTYPE html>
<html>
<head>
  <title>QAR</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <% if user_signed_in? %>
    <div class="wrapper">
      <nav class="sidebar">
        <h2>QAR</h2>
        <ul class="list-unstyled components">
          <li><%= link_to 'Productos', products_path %></li>
          <li><%= link_to 'Declaraciones de Conformidad', declaracion_conformidads_path %></li>
          <li><%= link_to 'Empresas', empresas_path %></li>
          <li><%= link_to 'QRs', qrs_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'Gestión de Usuarios', admin_users_path %></li>
            <li><%= link_to 'Reglamentos Técnicos', reglamento_tecnicos_path %></li>
            <li><%= link_to 'Tipos de Procedimiento', tipo_procedimientos_path %></li>
          <% end %>
        </ul>
        <div class="sidebar-footer">
          <p>Bienvenido, <%= current_user.email %></p>
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
        </div>
      </nav>
    </div>
  <% end %>
  
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>